services:
  ollama:
    image: ollama/ollama:0.10.1
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: unless-stopped
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    ports:
      - "11435:8080"
    volumes:
      - open-webui:/app/backend/data

volumes:
  ollama:
    external: true
  open-webui:
    external: false
